.App {
  text-align: center;
}

body {
  background-color: #f1f1f1;
}


.select {
  font-size: x-large;
  margin-bottom: 30px;
  margin-top: 30px;
  /* background-color: #f1f1f1; */
}
input, button, select {
  font-size: x-large;

}

